manifest.mainScript = 'main.nf'

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        process.container = 'goldrieve/nextflow-demo:latest'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'goldrieve/nextflow-demo:latest'
    }
}
