name: demo docker build

on:
  push:
    branches: main
jobs: 
  Build:
    runs-on: ubuntu-latest
  
    steps: 
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Docker build
        run: docker build -t demo .
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: goldrieve/nextflow-demo:latest