name: docker build and test

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'	

jobs: 
  Build:
    runs-on: ubuntu-latest
  
    steps: 
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: goldrieve/nextflow-demo:latest

      - name: Setup Nextflow
        uses: nf-core/setup-nextflow@v1
        with: 
          nextflow-version: '25.04.8'
      
      - name: Install nf-test 
        run: |
          wget -qO- https://get.nf-test.com | bash 
          sudo mv nf-test /usr/local/bin/ 

      - name: Run nf-test
        run: nf-test test --ci
